name: Preview

on:
  pull_request:
    types: [opened, reopened, synchronize, closed]

jobs:
  preview:
    strategy:
      matrix:
        service:
          - { name: mf-billing }
          - { name: mf-cookiebot }
          - { name: mf-dashboard }
          - { name: mf-layout }
          - { name: mf-navigation }
    uses: kristjanjansen/mf-infra/.github/workflows/preview.yml@main
    with:
      service_name: ${{ matrix.service.name }}
      port: 4000
