name: Release Preview

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version"
        required: true
        type: string

jobs:
  release_preview:
    strategy:
      matrix:
        service:
          - { name: mf-billing }
          - { name: mf-dashboard }
          - { name: mf-layout }
          - { name: mf-navigation }
          - { name: mf-cookiebot }
    uses: kristjanjansen/mf-infra/.github/workflows/release-preview.yml@main
    with:
      service_name: ${{ matrix.service.name }}
      port: "4000"
      version: ${{ inputs.version }}
